@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/*Reset*/
*{
      display: block;
      box-sizing: border-box;

      font-family: 'Red Hat Display', sans-serif;

      margin: 0;
      padding: 0;
}
script, head{
      display: none;
}

/*Variables*/
:root{
      --color-main: #3829e0;
      --color-main-hover: #766CF1;
      --color-sec: #f5f7ff;
      
      --color-text: #7280a7;
      --color-header: #1f2f56;

      --color-bg: #e8edfc;
}

/*Structure*/
body{
      font-size: 2.2vmin;
      text-align: center;
      
      background: var(--color-bg) url(images/pattern-background-mobile.svg) no-repeat top;
      background-size: cover;
}
main{
      border-radius: 4vmin;

      width: 88vw;
      height: 88vh;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);

      background-color: #fff;
}

/*Card Content*/
#ilustration{
      border-radius: 4vmin 4vmin 0 0;

      height: 30%;

      background: url(images/illustration-hero.svg) no-repeat center;
      background-size: cover;
}
#content{
      padding: 0 8vmin;
}
#plan{
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      align-items: center;
      justify-items: left;

      border-radius: 3vmin;

      margin: 8vmin 0;
      padding: 5%;

      background-color: var(--color-sec);
}

/*Text*/
.headline{
      color: var(--color-header);
      font-weight: 900;

      margin: 8vmin 0;
}
      .headline.secondary{
            font-size: 1em;
            font-weight: 900;

            margin: 0;            
      }
p{
      color: var(--color-text);

      word-spacing: 0.2em;
      line-height: 1.6em;
}
a{
      color: var(--color-main);
      font-weight: 700;

      transition: 0.1s;
}
      a:hover{
            color: var(--color-main-hover);
            text-decoration: none;
      }

/*Buttons*/
.option{
      color: var(--color-text);
      font-size: 1.1em;
      font-weight: 700;

      border: none;

      width: 100%;   
      padding: 5%;         
      
      background: none;
}
      .option:hover{
            color: var(--color-header);
      }
      .option.main{
            color: #fff;

            border-radius: 3vmin;
            box-shadow: #3829e065  0px 16px 24px;

            margin: auto;

            background-color: var(--color-main);          
            
            transition: 0.1s;
      }
            .option.main:hover{
                  width: 96%;  

                  background-color: var(--color-main-hover);
            }

/*Responsiviness*/
@media (orientation: landscape) {
      body{
            background: var(--color-bg) url(images/pattern-background-desktop.svg) no-repeat top;
            background-size: cover;
      }

      main{      
            width: 24vw;
            height: 88vh;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
      }
      #content{
            padding: 0 8%;
      }

      .headline{
            margin: 4vmin 0 1vmin 0;
      }

      #plan{
            margin: 2vmin 0;
      }      
}